*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{

    --color-AzulOscuro:#164a98;
    --color-AzulClaro:#006AEA;
    --color-celesteClaro:#9CC8FF;
    --color-grisClaro:#d2d2d2;

}

.tarjeta-evento,
.tarjeta-actividad{

    width:850px;
    margin-top:30px;
    background:white;
    padding:40px;
    border:2px solid var(--color-grisClaro);
    border-radius:10px;
    box-shadow:0 3px 8px rgba(0,0,0,.12);

}

.tarjeta-evento h2,
.tarjeta-actividad h2{
    color: var(--color-AzulOscuro);
    margin-bottom:25px;
}

.informacion p{

    margin-bottom:15px;

    font-size:16px;

}

.tarjeta-evento h3,
.tarjeta-actividad h3{
    margin-top:35px;
    margin-bottom:15px;
    color: var(--color-AzulOscuro);
}

.tabla-evento{

    width:100%;

    border-collapse:collapse;

}

.tabla-evento th{

    background:var(--color-AzulOscuro);

    color:white;

    padding:14px;

}

.tabla-evento td{

    padding:14px;

    border:1px solid #ddd;

}

.tabla-evento tr:nth-child(even){

    background:#f4f4f4;

}

.tabla-evento tbody tr:hover{

    background:var(--color-celesteClaro);

}

.acciones{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.btn-accion{
    width: 55px;
    height: 55px;
    border: 1px solid #d8d8d8;
    border-radius: 50%;
    background: white;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #f39c12;
    font-size: 20px;
    text-decoration: none;

    transition: .3s;
    box-shadow: 0 2px 6px rgba(0,0,0,.12);
}

.btn-accion:hover{
    background: #f39c12;
    color: white;
    transform: scale(1.08);
}