:root{
--color-AzulOscuro: #164a98;
--color-AzulClaro: #006AEA;
--color-celesteClaro: #9CC8FF;
--color-grisClaro: #d2d2d2;
--color-grisOscuro:  #7c7b75;
--color-amarilloClaro: #fff200;
--color-amarilloOscuro:#ffc63e;
--color-Morado:#712c86;
}