/* Paleta de colores institucionales */
:root {
    --color-azulOscuro: #164a98;
    --color-azulClaro: #006AEA;
    --color-celesteClaro: #9CC8FF;
    --color-grisClaro: #d2d2d2;
    --color-grisOscuro: #7c7b75;
    --color-amarilloClaro: #fff200;
    --color-amarilloOscuro: #ffc63e;
    --color-grisMasClaro: #eef5ff;
}

/* Contenedor del formulario */
.formulario-contenedor {
    width: 700px;
    background-color: white;
    padding: 35px;
    border: 2px solid var(--color-grisClaro);
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
}

/* Descripción */
.descripcion {
    margin-bottom: 12px;
    margin-top: 12px;
    color: var(--color-azulOscuro);
}

.nota-restriccion i {
    margin-right: 8px;
}

/* Etiquetas */
.formulario{
    margin-top:20px;
}

.formulario label{
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #2d2a5f
}

.formulario input {
    display: block;
    width: 100%;
    padding: 11px;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 15px;
}
.formulario select {
    margin-bottom: 50;
    display: block;
    width: 100%;
    padding: 11px;
    border: 1px solid var(--color-azulClaro);
    border-radius: 15px;
    font-size: 15px;
    background-color: var(--color-azulOscuro);
    color: white;
    cursor: pointer;
}


/* Efecto al seleccionar un campo (Focus: Es el elemento sobre el que el usuario está escribiendo o interactuando) */
.formulario input:focus {
    outline: none; /* No muestre el borde de enfoque que el navegador agrega automáticamente cuando el usuario selecciona un campo */
    border-color: var(--color-azulClaro);
}

.formulario input,
.formulario textarea,
.formulario select{
    display: block;
    width: 100%;
    padding: 12px;
    border: 1px solid var(--color-grisClaro);
    border-radius: 8px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Contenedor de botones */
.botones {
    text-align: center;
    margin-top: 35px;
}

/* Botón Guardar */
.boton-principal {
    background-color: var(--color-azulClaro);
    color: white;
    border: none;
    padding: 12px 28px;
    border-radius: 6px;
    font-size: 17px;
    cursor: pointer;
    margin-right: 15px;
    transition: transform 0.3s;
}

/* Hover botón Guardar */
.boton-principal:hover {
    background-color: var(--color-azulOscuro);
    transform: scale(1.05);
}

/* Botón Cancelar */
.boton-secundario {
    background-color: var(--color-grisOscuro);
    color: white;
    border: none;
    padding: 12px 28px;
    border-radius: 6px;
    font-size: 17px;
    cursor: pointer;
    transition: transform 0.3s;
}

/* Hover botón Cancelar */
.boton-secundario:hover {
    background-color: #5f5f5f;
    transform: scale(1.05);
}

/* Campos con error */
.input-error {
    border: 2px solid #fcc2c2 !important;
    background-color: #ffe5e5;
}

