
.tarjeta-actividad{
    width: 750px;
    background-color: white;
    padding: 35px;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0,0,0,.12);
}

.tarjeta-actividad h2{
    color: var(--color-azulOscuro);
    margin-bottom: 25px;
}


.formulario label{
    display:block;
    margin-top:15px;
    margin-bottom:6px;
    font-weight:bold;
    color:#2d2a5f;
}

.formulario input,
.formulario textarea,
.formulario select{
    width:100%;
    padding:11px;
    border:1px solid #aaa;
    border-radius:6px;
    font-size:15px;
    margin-bottom:10px;
}

.formulario textarea{
    min-height:120px;
    resize:vertical;
}

.formulario select{
    background-color:white;
}


.boton{
    margin-top:20px;
    width:100%;
    padding:14px;
    border:none;
    border-radius:10px;
    background-color:var(--color-azulClaro);
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

.boton:hover{
    background-color:var(--color-azulOscuro);
}